.comic{
    border: solid #000000 1px;
    background-color: #e38494;
    margin: 0.5em 0;
}

.column1{
    float: left;
    width: 60%;
    display: block;
    margin: 1%;
}
.column2{
    float: right;
    border: 1px;
    width: 30%;
}

.name{
    font-weight: bold;
    font-size: 1.5em;

}

.author{
     font-size: 1em;
 }

.image{
    max-height: 100px;
    float: right;
}